{% extends 'base.html.twig' %}
{% block title %}Inscription sur Practee Formation{% endblock %}
    {% block stylesheets %}
     <!-- Latest compiled and minified CSS -->

             <link rel="stylesheet" type="text/css" href="{{ asset('css/default.css') }}"/>
            
    {% endblock %}
     {% block javascripts %}
     {% endblock %}
{% block body %}
<div class="conteneur" style="max-width: 80%; display: flex; align-items:center; justify-content:center;">

<form action="" method="post">

 <div class="form-group">
  <label for="sel1">Vous êtes:</label>
  <select class="form-control" name="selection" id="sel1">
    <option value="ent_ind" selected>Une entreprise ou indépendant</option>
    <option value="ass_adm">Association ou Administration</option>
    <option value="sal">Salarié</option>
    <option value="demandeur">Demandeur D'emploi</option>
  </select>
</div> 
<button type="submit" class="btn btn-succees">Continuer</button>
</form>
</div>

{% endblock %}

