{% extends 'base.html.twig' %}
{% block title %}Inscription sur Practee Formation{% endblock %}
    {% block stylesheets %}
             <link rel="stylesheet" type="text/css" href="{{ asset('css/security.css') }}"/>
            
    {% endblock %}

{% block body %}

<form id="login" action="{{ path('security_login') }}" method="post">

 <h1>Practee Formations</h1>
 <span>Connexion</span>
    <fieldset id="inputs">
        <input id="username" type="text" placeholder="Username" name="_username" required>   
        <input id="password" type="password" placeholder="Password" name="_password" required>
    </fieldset>
    <fieldset id="actions">
        <input type="submit" id="submit" value="Log in">
        <a class="btn btn-danger" href="">Mot de passe perdu ?</a><a class="btn btn-info" href="">Inscription</a>
    </fieldset>
</form>

{% endblock %}