{% extends 'base.html.twig' %}
{% block title %}Inscription sur Practee Formation{% endblock %}
    {% block stylesheets %}
             <link rel="stylesheet" type="text/css" href="{{ asset('css/default.css') }}"/>
            
    {% endblock %}

{% block body %}
<div class="conteneur_form">



    {{ form_start(form, {'class': 'register'}) }}
     
  
     <h1>Inscription Practee Formation</h1>
            <fieldset class="row1">
                <legend>Création du compte Utilisateur
                </legend>
                <p>
    {{ form_row(form.username, {'label': 'Nom D\'utilisateur','attr':{
        'placeholder': 'Indiquer un nom d\'utilisateur pour votre compte', 'class': 'username'}
    }) }}
    {{ form_row(form.password, {'label': 'Mot de Passe'}) }}
    {{ form_row(form.confirm_password, {'label': 'Confirmer le Mot de Passe'}) }}
    
    </p>
    </fieldset>

   <fieldset class="row2">
                <legend>Information Personelle
                </legend>
                <p>
    {{ form_row(form.nom , {'label': 'Votre Nom'}) }}
    {{ form_row(form.prenom, {'label': 'Votre Prénom'}) }}
    {{ form_row(form.dateNaissance, {'label': 'Votre date de Naissance'})}}
    {{ form_row(form.adresse, {'label': 'Adresse Postal'}) }}
    {{ form_row(form.codePostal, {'label': 'Code Postal'}) }}
    {{ form_row(form.ville, {'label': 'Votre Ville'}) }}
    {{ form_row(form.tel, {'label': 'Téléphone fix'}) }}
    {{ form_row(form.telPort, {'label': 'Téléphone Portable'}) }}
    {{ form_row(form.email, {'label': 'Adresse Email'}) }}
    {{ form_row(form.numeroPoleEmploi, {'label': 'Numéro de demandeur d\'emploi'})}}
   
    </p>
    </fieldset>



            <fieldset class="row4">
                <legend>Terme et conditions
                </legend>
                <p class="agreement">
                    <input type="checkbox" value=""/>
                    <label>*  J\'accepte les <a target="_blank" href="{{ asset('RGPD/condition.pdf') }}">Terms and Conditions</a></label>
                </p>
                <p class="agreement">
                <input type="checkbox" value=""/> Confirmée votre accord en cochant la case
                <label>
                 <div id="accordion">

  <div class="card">
     <a class="card-link" data-toggle="collapse" href="#collapseOne"><div class="card-header">
     
       Droit au rectification des données cliqué pour lire ... 
      
    </div></a>
    <div id="collapseOne" class="collapse" data-parent="#accordion">
      <div class="card-body" style="text-alig:left !important;">
        INFORMATIQUE  ET  LIBERTÉS.  Notre  Société  recueille  des  informations vous concernant notamment lors de la création de votre Compte    Client.<br/>
        Ces    informations    nous    permettent    d’effectuer    notamment  les  opérations  relatives  à  la  gestion  des  clients,  à  la  prospection, à l’élaboration de statistiques commerciales, à la gestion de  vos  droits,  la  gestion  des  impayés  et  du  contentieux,  à  la  gestion  d’opérations  promotionnelles,  à  la  gestion  des  avis.<br/>
        Ces  données  peuvent    être    utilisées    pour    l’envoi    d’informations    et    offres    promotionnelles  de  la  part  de Practee Formation. <br/>
        La base légale de ces traitements de  données  est  l’exécution  des  présentes  CGV.
        Les  opérations  de  prospection relatives à des biens et produits analogues se fondent sur l’intérêt légitime de notre Société.<br/>
        Les autres opérations de prospection se fondent sur votre consentement.<br/>
        Les destinataires de vos données sont les services de notre Société, nos sous-traitants et les autorités et auxiliaires    de    justices    légalement    habilitées    à    en    recevoir    communication.<br/> 
        Vos données seront uniquement conservées le temps nécessaire à la réalisation des finalités précitées, et conformément aux règles  de  conservation  légale  applicables  en  matière  commerciale. <br/> 
        Conformément aux dispositions de la Loi Informatique et Libertés du 6 janvier 1978 (modifiée) et du Règlement Général sur la Protection des Données,  vous  bénéficiez  d’un  droit  d’accès,  de  rectification,  de  portabilité et d’effacement de vos données personnelles.<br/> 
        Vous pouvez également  demander  la  limitation  du  traitement  de  données  vous concernant. <br/> 
        Pour  en  savoir  plus  ou  exercer  vos  droits,  écrivez  contact@practeeformation.eu  ou  à  Practee Formation,  87 rue de L’Abregrain 62800 Liévin .<br/>
        Votre  demande  devra  préciser  vos  nom(s),  prénom(s)  et  comporter  une  copie  de  votre  pièce  d’identité.  Vous  pouvez  également,  pour  des  motifs  légitimes, vous opposer au traitement des données vous concernant et disposer du droit de retirer votre consentement à tout moment lorsque les traitements de données personnelles mis en œuvre se fondent sur celui-ci.  Le  consommateur  est  informé  de  la  possibilité  qu’il  a  de  s’inscrire sur la liste d’opposition au démarchage téléphonique Bloctel. Enfin, vous avez la possibilité d’introduire une réclamation auprès des autorités de contrôle compétentes en matière de protection de données.<br/>

      </div>
    </div>
  </div>

  

 

</div>             
                </label>
                    
                    
                </p>
               
            </fieldset>
            <button type="submit" class="btn btn-success submit">Inscription !</button>
{{ form_end(form)}}


</div>

{% endblock %}