{% extends 'base.html.twig' %}

{% block title %}Mon Espace personelle - Practée Formation{% endblock %}
{% block stylesheets %} 
<link href="../css/fontawesome/css/all.css" rel="stylesheet">
<link rel="stylesheet" href="../css/bootstrap.min.css">
<link rel="stylesheet" href="../css/style.css">
<link rel="stylesheet" href="../css/formations.css">
<link rel="stylesheet" href="../css/charts.css">
<link rel="stylesheet" type="text/css" href="{{ asset('vendor/nnnick/dist/Chart.min.css') }}">
{% endblock %}
 {% block javascripts %}
<script type="text/javascript" src="../js/defilement.js" defer></script>
<script src="{{ asset('js/jquery.min.js') }}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.min.js"></script>
<script>
    

    new Chart(document.getElementById("radar-chart"), {
        type: 'radar',
        
        data: {
            labels: ["Charpente / Ossature bois", "CVC", "Couverture / étenchéité", "électricité / domotique", "finitions sols / Parois / Plafonds", "Installation sanitaire / Plomberie", "Isolation thermique extérieure", "maçonnerie/Gros oeuvre", "Menuiserie /Miroiterie", "Parois verticales /plâtre", "structures métalliques", "Compétences transverses"],
            datasets: [{
                label: "Kévin",
                fill: true,
                backgroundColor: "rgba(51,133,255,0.2)",
                borderColor: "rgba(51,133,255,1)",
                pointBorderColor: "#fff",
                pointBackgroundColor: "rgba(51,133,255,1)",
                data: [33, 49, 50, 67, 39, 80, 60, 50, 90,80]
            }, {
                label: "Loic",
                fill: true,
                backgroundColor: "rgba(255,99,132,0.2)",
                borderColor: "rgba(255,99,132,1)",
                pointBorderColor: "#fff",
                pointBackgroundColor: "rgba(255,99,132,1)",
                pointBorderColor: "#fff",
                data: [60, 67, 80, 68, 50, 90, 80, 60, 90,81]
            },
            {
                label: "Loic B",
                fill: true,
                backgroundColor: "rgba(0, 0,139,0.2)",
                borderColor: "rgba(0, 0,139)",
                pointBorderColor: "#fff",
                pointBackgroundColor: "rgba(0,0,139,1)",
                pointBorderColor: "#fff",
                data: [10, 50, 60, 45, 58, 89, 80, 12, 1,2]
            }
            ]
        },


        options: {
            scale: {
                responsive: true,
                ticks: {
                    display: true,
                    min:0,
                    beginAtZero: true,
                    max: 100, 
                    userCallback: function (value, index, values) {
                        
                   
                      return value;
                           

                },
                },

                gridLines: {
                    display: true,
                    color: [
                        "rgba(245, 245,220,1)",
                        "rgba(0, 0,255,0.1)",
                        "rgba(165, 42,42,0.1)",
                        "rgba(0, 255,255,0.1)",
                        "rgba(0, 0,139,0.3)",
                        "rgba(0, 139,139,0.1)",
                        "rgba(169, 169,169,1)",
                        "rgba(0, 100,0,0.1)",
                        "rgba(189, 22,107,0.1)",
                        "rgba(139, 0,139,0.1)",
                        "rgba(139, 0,139,0.1)",
                        "rgba(139, 0,139,0.1)",


                    ], 
                },

                angleLines: {
                    display: true,
                    color: "red",
                },
                pointLabels: {
                    // callback: function(value, index, values) {
                    //     return '$' + value;
                    // }
                    fontColor: '#' + Math.random().toString(16).slice(2, 8).toUpperCase(),
                },
            },
            legend: {
                display: true
            },
            title: {
                display: false,
                // text: 'Skill Set'
            },
        }
    });
</script>
 {% endblock %}
{% block logo %}<img class="logo" href="{{ path('index') }}" src="../images/logo.png">{% endblock %}
{% block body %}

     <!-- Fin du menu personnaliser-->

              <!-- formation du site -->
              <div id="d-flex p-3 cadrpg"> 

                  <div id="newshr">
                  <div class="p-2 defileorange bg-info"><span class="title">Nos dates de Formations</span></div>
                   <div id="defile">
                  
                  <span class="badge badge-info">le : 24/06/2019 à 9h00  </span> Formation Menuiserie / Miroiterie
                

                  </div>
                   
                  </div>
                 
                 </div>
                    <div class="d-flex">
                        <div class="p-2 flex-fill"> 
                                <div class="card"> 
                        {% if json.siret == null %}
                        
                            <div class="card-header">Espace de {{ json.nom|upper }} {{ json.prenom|upper }} </div>
                                <div class="card-body card-body-profil">  
                                    <p><i class="fas fa-home"></i> Adresse : {{ json.adresse|upper }} {{ json.codePostal }} , {{ json.ville|upper }}</p>
                                    <p><i class="fas fa-phone-square"></i> Tel Fix : {{ json.tel }}</p>
                                    <p><i class="fas fa-mobile"></i> Tel Portable : {{ json.telPort }}</p>
                                    <p><i class="fas fa-at"></i> Email : {{ json.email }}</p>
                                </div>
                        {% else %}
                        
                            <div class="card-header">Entreprise : {{ json.raisonSocial }} </div>
                                <div class="card-body card-body-profil">  
                                    <p><i class="fas fa-home"></i> Adresse : {{ json.adresse|upper }} {{ json.codePostal }} , {{ json.ville|upper }}</p>
                                    <p><i class="fas fa-phone-square"></i> Tel Fix : {{ json.tel }}</p>
                                    <p><i class="fas fa-mobile"></i> Tel Portable : {{ json.telPort }}</p>
                                    <p><i class="fas fa-at"></i> Email : {{ json.email }}</p>
                                    <p><i class="fas fa-home"></i> Siret : {{ json.siret }}</p>
                                </div> 
                                
                        {% endif %}
                            <div class="card-footer"> <a href="#" class="btn btn-info bg-info ">Mettre à jour</a></div>
                        </div>
                        
                    </div>
                    
                    <div class="p-2  flex-fill" style="max-width: 450px;">
                    
                    <div class="card">
                        <div class="card-header">Mes Suggestions Formation</div>
                            <div class="card-body card-body-profil row" style="">  
                        
                                 <section  class="col-lg-12" style="color:black;"><h5 style="text-align:center; background-color: #639143; width: 100%;">Kévin</h5>
                                    <ul style=" background-color: none; list-style-type:none;"><li >Nous conseillons la/les formation(s) suivante(s)<br/>
                                        <span class="badge badge-success">FEEBAT - Enveloppes performantes</span> <span class="badge badge-success"> FEEBAT - Menuiseries Performantes </span> <span class="badge badge-success">FEEBAT - Ventilation Performantes </span></li>
                                    </ul>
                                </section>

                                <section  class="col-lg-12" style="color:black;"><h5 style="text-align:center; background-color: #639143; width: 100%;">Loic</h5>
                                    <ul style=" background-color: none; list-style-type:none;"><li >Nous conseillons la/les formation(s) suivante(s)<br/>
                                        <span class="badge badge-success">FEEBAT - Enveloppes performantes</span> <span class="badge badge-success"> FEEBAT - Menuiseries Performantes </span> <span class="badge badge-success">FEEBAT -  Ventilation Performantes </span></li>
                                    </ul>
                                </section>

                                <section  class="col-lg-12" style="color:black;"><h5 style="text-align:center; background-color: #639143; width: 100%;">Loic B</h5>
                                    <ul style=" background-color: none; list-style-type:none;"><li >Nous conseillons la/les formation(s) suivante(s)<br/>
                                        <span class="badge badge-success">FEEBAT Enveloppes performantes</span> <span class="badge badge-success"> FEEBAT - Menuiseries Performantes </span> <span class="badge badge-success">FEEBAT - Ventilation Performantes </span></li>
                                    </ul>
                                </section>
                            </div> 
                        <div class="card-footer"></div>
                    </div>
                    
                    </div>
                    
                   <div class="p-2 flex-fill">

                    <div class="card" style="height:100; min-height: 650px;">
                        {% if json.siret == null %}
                            <div class="card-header">Mes Compétences</div>
                        {% else %}
                            <div class="card-header">Compétence globale de mes collaborateurs</div>
                        {% endif %}
                        <div class="card-body card-body-profil">
                     <canvas id="radar-chart" width="200" height="200"></canvas>
                        </div>
                        
                            
                            <div class="card-footer"></div> 
                    </div>
                    </div>
                    
                    </div>

                    
            
                
                  
                   
              
           
            
        

        <div class="footer">
          <span class="copryright"><h5>© Practee Formation 2019 - Tous droits Réservés</h5></span>
          <form action="" method="post">
              <div class="input-group mb-3 btn-newsletter">
                  <input type="text" class="form-control" placeholder="Entrer votre adresse email" aria-label="Votre adresse email exemple Practeeformation@practeeformation.fr" aria-describedby="button-addon2">
                  <div class="input-group-append">
                    <button class="btn btn-outline-secondary btn-news-perso" type="button" id="button-addon2">S'abonner</button>
                  </div>
                </div>
          </form>
        </div>   
{% endblock %}
