.progress-bar{
    background-color: orangered;
    color: #fff;
    text-align:center;
    font-size: 1.9em;
}

.progress label{
    background-color:rgba(52, 47, 47,0.8); 
    color: white;
    height:100%;
    text-align:center;
    font-size: 1em;
    padding: 5px;
}
.progress {
    height: 1.9rem;
}
.progress a{
    color:white;
    text-decoration: none;

}
.progress a:hover{
    color: orangered;
}
/*------------------------- */
.progress-bar1 {
    position: relative;
    height: 100px;
    width: 100px;
    margin:0 auto;
  }
   
  .progress-bar1 div {
    position: absolute;
    height: 100px;
    width: 100px;
    border-radius: 50%;
  }
   
  .progress-bar1 div span {
    position: absolute;
    font-family: Arial;
    font-size: 25px;
    line-height: 75px;
    height: 75px;
    width: 75px;
    left: 12.5px;
    top: 12.5px;
    text-align: center;
    border-radius: 50%;
    background-color: white;
  }
   
  .progress-bar1 .background { background-color: #b3cef6; }
   
  .progress-bar1 .rotate {
    clip: rect(0 50px 100px 0);
    background-color: #4b86db;
  }
   
  .progress-bar1 .left {
    clip: rect(0 50px 100px 0);
    opacity: 1;
    background-color: #b3cef6;
  }
   
  .progress-bar1 .right {
    clip: rect(0 50px 100px 0);
    transform: rotate(180deg);
    opacity: 0;
    background-color: #4b86db;
  }



.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto auto auto auto; 
  grid-column-gap: 5px;
  grid-row-gap: 5px;
  align-items: center;
  justify-content: stretch;
  align-content: center;
  margin: 10px;
}
.chartsperso{
  grid-column-start: auto;
  grid-row-start: auto;
  background-color: rgba(52, 47, 47,0.2);
  border-radius: 5px;
  padding: 5px;
}
.card-body-charts{
  width: 100%;
}
  @keyframes
  toggle {  0% {
   opacity: 0;
  }
   100% {
   opacity: 1;
  }
}

@media (min-width:200px) and (max-width:1023px){
 
  .grid-container {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: auto auto auto auto auto auto auto; 
      grid-column-gap: 5px;
      grid-row-gap: 5px;
      align-items: center;
      justify-content: stretch;
      align-content: center;
    }
}

.chartsperso .badge-secondary{
  background-color: orangered;
  color: white;
  font-size:1em;
  margin-bottom: 3px;
}
 