@import url('https://fonts.googleapis.com/css?family=Roboto');
body{
    background-color:#fff;
    color: black; 
    margin:0;
    overflow-x: hidden;
    display:flex;
    flex-direction:column;
}
html{
    margin:0;
}
.container-fluid{
    padding-right: 0;
    padding-left:0;
}
/*header*/
.btn-group{
    display:initial !important;
}
.dropdown-menu{
    width:100%;
    height: 120px;
    text-align:center;
}
.navbar-light{
background-color: #333 !important;
}
.nav-link{
    color:white !important;
}
.logo{
    max-width:5em;
    max-height: 2em;
}
.logo_login{
    max-width:10em;
    max-height: 4em;
}
/* Fin du Header */ 

/* navbar personnaliser */
.bordernav{
    background-color:orangered;
    width:100%;
    height:5px;
    margin:0;
    padding:0;
}
.navbar-perso{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 0.5px;
    margin-left: 1.6%;
}
.card{
   border:none; 
   text-align:center;
   background-color: none !important;
   padding: 5px;
   margin: 5px;
   border-radius:0;
}
.card{
    overflow:hidden;
}
.card-body{
    padding:0;
}
.card-body1{
   
    padding:0;
    background-image: url(../images/btn01.png);
    background-repeat: no-repeat;
    height:150px;
}
.card-body2{
    
    padding:0;
    height:150px;
    background-image: url(../images/btn02.png);
    background-repeat: no-repeat;
}
.card-body3{
    
    padding:0;
    height:150px;
    background-image: url(../images/btn03.png);
    background-repeat: no-repeat;
}
.btnperso1{
    background-color:#f47721;
    color:black;
    border-radius:0;
    border:0;
    border-top: solid 1px black;
    margin-top: 7.5em;
    width: 100%;
}
.btnperso2{
    background-color:#639143;
    color:black;
    border-radius:0;
    border:0;
    border-top: solid 1px black;
    margin-top: 7.5em;
    width: 100%;
}
.btnperso3{
    background-color:#ffcb08;
    color:black;
    border-radius:0;
    border:0;
    border-top: solid 1px black;
    margin-top: 7.5em;
    width: 100%;
}
.btnperso1:hover{
    background-color:#ffcb08;
    color:black;
}
.btnperso2:hover{
    background-color:#f47721;
    color:black;
}
.btnperso3:hover{
    background-color: #639143;
    color:black;
}
/* Fin bar perso */ 

/* Menu animation nos formations */ 
.nformations{
    background-color: orangered;
    color: black;
    width: 500px;
    clip-path: polygon(0% 0%, 100% 0%, 75% 100%, 0% 100%);
    text-align:center;
}
.nformations h5{
    margin-top:3px;
    color: white;
}
.bg-secondary{
    background-color:white !important;
    border-top: solid 1px black;
    border-bottom: solid 1px black;
}
.bg-info{
    background-color: orangered !important;
    width: 250px;
}
/* Texte dÃ©filant */

  #cadrpg { 
      width:100%; 
      margin:0 auto; 
      border:0; 
      overflow:hidden;
    } 
#newshr { 
    position:relative; 
    width: 100%; 
    height:60px; 
    overflow:hidden;  
    color:inherit;  
    border:1px inset white;
    border-bottom: solid 5px orangered;
 } 
#defile { 
    position:absolute; 
    margin-top:-45px; 
    z-index:2;
    font-size: 1.5em;
}
.defileorange{
    z-index:3;
    position:relative; 
    height: 60px;
    clip-path: polygon(0% 0%, 100% 0%, 75% 100%, 0% 100%);

}
.defileorange span{
    color: white;
    font-size: 1em;
    font-family: 'Roboto', sans-serif;   
}
.title{
    margin-top: 5px;
}
.badge-info{
    background-color: orangered !important;
}
/* Fin menu defilement */ 
/* Footer */
.footer{
    width: 100%;
    background-color:#333;
    color: white;
    text-align: center;
    height: 80px;
    position: stiky; 
}
.btn-newsletter{
    max-width: 330px;
    height: 55px;
    margin-top:-20px;
    margin-left:80%;
}
.btn-newsletter input{
    height:55px;
}
.btn-news-perso{
    background-color:orangered;
    color:white;
}
.copryright{
margin-top:50px;
}
/* Content des pages */
.content-operateur{
    width: 100%;
    padding: 10px;
}
@media screen and (max-width:800px) {
	table {
		display:flex;
	}
	thead {
		width:20%;
		min-width:90px;
	}
	tbody {
		flex:1;
	}
	tr {
		display:flex;
		flex-direction:column;
	}
	th, td {
		text-align:left;
		border-right:0;
		border-bottom:1px solid black;
	}
	tr:last-child td:last-child {
		border-bottom:0;
	}
	tbody tr:not(:first-child) td::before {
		position:absolute;
		content:'Pseudo';
		color:white;
		font-weight:bold;
		width:calc(20% - 13px);
		min-width:90px;
		padding:5px;
		border-bottom:1px solid black;
		margin-left:calc(-20% - 2px);
		margin-top:-5px;
	}
	tbody tr:last-child td:last-child::before {
		border-bottom:0;
	}
	tbody tr:not(:first-child) td:nth-of-type(2)::before {
		content:'Date de Démmarage';
	}
	tbody tr:not(:first-child) td:nth-of-type(3)::before {
		content:'Lieux';
    }
    .btn-newsletter {
        max-width: 330px;
        height: 55px;
        margin-top: -8px;
        margin-left: 4%;
    }

}
@media screen and (max-width:461px) {
	tbody tr:not(:first-child) td::before {
		margin-left:-95px;
    }
    .btn-newsletter {
        max-width: 330px;
        height: 55px;
        margin-top: -8px;
        margin-left: 4%;
    }
}
.widthbtn{
    width: 100%;
    height: 5vh;
    padding:0;
    margin:0;
    border-radius:0 !important;
}
.widthtd{
    padding:0 !important;
    margin:0;
}
.main-section {
    width: 25%;
    margin: 2em auto 0;
	text-align: center;
}
.login-section {
    background: #fff;
}
.login-section h2 {
    padding: .6em 0;
    background: #f99104;
    font-size: 1.5em;
    color: #fff;
	font-family: 'Josefin Sans', sans-serif;
}
.login-top p {
    font-size: .85em;
    color: #1d1d1b;
	padding-bottom: .5em;
}
.login-top {
    padding: 1em 0;
	border-bottom: 1px solid #f99104;
}
.login-top ul li {
    padding: .8em 0;
}
.login-top ul li a.face {
	background:#3b5998;
	padding: 0.8em 1.7em 0.9em 1em;
}
.login-top ul li a.face:hover {
  background: #244384;
}
.login-top ul li a.twit {
	background:#00aeed;
	padding: 0.8em 2.8em 0.9em 1em;
}
.login-top ul li a.twit:hover {
	background:#26A6D5;
}
.login-top ul li a span.face {
  background: url(../images/face.png) no-repeat 0px 0px;
  width:32px;
  height:32px;
  display:inline-block;
  vertical-align: middle;
  margin: 0em 1.5em 0em 0em;
}
.login-top ul li a span.twit {
  background: url(../images/twit.png)no-repeat 0px 0px;
  width:32px;
  height:32px;
  display:inline-block;
  vertical-align: middle;
  margin: 0em 1.5em 0em 0em;
}
.login-top ul li a {
    font-size: 0.9em;
    font-weight: 400;
    color: #fff;
}
.login-middle input[type="email"] {
    width: 100%;
    padding: .8em 1em;
    outline: none;
    margin: 1em 0;
	border-radius: 4px;
    border: 1px solid#f99104;
    outline: none;
    color: #555;
}
.login-middle input[type="password"] {
    width: 100%;
    padding: .8em 1em;
    outline: none;
    border-radius: 4px;
    border: 1px solid#f99104;
    outline: none;
    color: #555;
}
.login-middle {
    padding: 1em 0;
  }
.login-middle p {
    font-size: .85em;
    color: #1d1d1b;
    padding-bottom: .5em;
}
.login-bottom {
    padding: 2em 1em;
}
.login-left {
    float: left;
}
.login-right {
    float: right;
}
.login-bottom {
    padding: 1em 2em 4em;
    border-top: 1px solid #f99104;
    display:flex;
    align-items: center;
    justify-content: center;
}
.login-left p {
    font-size: .8em;
    color: #1d1d1b;
    line-height: 1.8em;
}
.login-left a {
    font-size: 1em;
    color: #fff;
}
.login-left .btn-danger{
    border-radius:0;
    width:100%;
    background-color:#639143;
    border:none;
}
.login-right input[type="submit"] {
    width:100%;
    padding: .5em 1em;
    background: #f99104;
    outline: none;
    border: none;
    font-size: 1em;
	display: block;
	cursor: pointer;
	color:#fff;
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-o-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-ms-transition: 0.5s all;
}
.login-right input[type="submit"]:hover {
    background: #00B7C9;
}
.login-section .login-top li{
    list-style-type:none;
}
::-web-input-placeholder{
	font-size:.95em;
}
/**responsive*/
@media (max-width:1440px){
}
@media (max-width:1366px){
.login-middle input[type="text"] {
    width: 53%;
}
.login-middle input[type="password"] {
    width: 53%;
}
}
@media (max-width: 1280px){
.login-middle input[type="text"] {
    width: 57%;
}
.login-middle input[type="password"] {
    width: 57%;
}
}
@media (max-width: 1080px){
.main-section {
    width: 35%;
}
}
@media (max-width: 800px){
.main-section {
    width: 40%;
}
.d-flex{
    flex-direction: column;
}
}
@media (max-width: 768px){
.main-section {
    width: 45%;
}
}
@media (max-width: 648px){
.main-section {
    width: 51%;
}
}
@media (max-width: 480px){
.main-section {
    width: 65%;
}
.login-section h2 {
    font-size: 1.3em;
}
}
@media (max-width: 414px){
.main-section {
    width: 78%;
}
}
@media (max-width: 375px){
.main-section {
    width: 85%;
}
}
@media (max-width: 320px){
.main-section {
    width: 90%;
}
.login-middle input[type="text"] {
    width: 70%;
}
.login-middle input[type="password"] {
    width: 70%;
}
.login-bottom {
    padding: 1em 1em 4em;
}
}
.conteneur-profil .card{
    padding:0 !important;
    margin:0 !important;
    flex-direction: row !important;
    word-wrap: inherit !important;
}
.card-profile{
    box-shadow: 1px 2px 26px 5px rgba(0,0,0,0.75);
    border-radius: 5px;
}
.card-tprofil{
    text-align:left;
    font-family: 'Libre Franklin', sans-serif;
}
.conteneur-profil{
margin:20px;
}
@import url('https://fonts.googleapis.com/css?family=Libre+Franklin');
.d-flex .p-2 .card-title{
    background-color: orangered;
    width:100% !important;
    padding: 10px;
    color: white;
    font-family: 'Libre Franklin', sans-serif;
   
}
.conteneur-profil .row{
    margin:5px;
}
.card-tprofil .fas{
    color: orangered;
    font-size:1em;
}
.card-tprofil .bg-info{
    border:none;
    width:100%;
}
.card-tprofil .bg-info:hover{
    background-color: #fffc !important;
    color:black !important;
    border:solid 1px black;
}
.parcours{
    margin-left: 20px;
}
.card-competence{
    box-shadow: 1px 2px 26px 5px rgba(0,0,0,0.75);
    border-radius: 5px;
}
.card-body-profil{
    text-align:left;
    color:#333;

}

/* COMPETENCE BAR */
@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900,900italic);

* {
  font-family: Roboto;
}

.content h1 {
  font-weight: 500;
  text-align: center;
}

svg#donut-chart {
  display: block;
  margin: 0 auto;
}

text.inner-circle {
  font-weight: 400;
  font-size: 20px;
  text-transform: uppercase;
}

.arc {
  cursor: pointer;
  
  &:hover {
    opacity: .85;
  }
  
  text {
    font-weight: 300;
    font-size: 18px;
    color: #fff;
  }
}

.card-body-profil .progress{
    margin: 10px !important;
}
#chart {
    position: absolute;
    top: 50px;
    left: 100px;
  }	
