.form_register{
    width: 50%;
    padding: 20px;
    margin: 15px;
}
.account{
    -moz-box-shadow: 0px 0px 10px 5px #000000;
    -webkit-box-shadow: 0px 0px 10px 5px #000000;
    -o-box-shadow: 0px 0px 10px 5px #000000;
    box-shadow: 0px 0px 10px 5px #000000;
    filter:progid:DXImageTransform.Microsoft.Shadow(color=#000000, Direction=NaN, Strength=10);
    width:80%;
    padding: 5px;
}
.entreprise{
    -moz-box-shadow: 0px 0px 10px 5px #000000;
    -webkit-box-shadow: 0px 0px 10px 5px #000000;
    -o-box-shadow: 0px 0px 10px 5px #000000;
    box-shadow: 0px 0px 10px 5px #000000;
    filter:progid:DXImageTransform.Microsoft.Shadow(color=#000000, Direction=NaN, Strength=10);
    padding: 5px;
    width:80%;
}
.flexbox{
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    margin-left: 0 !important;
}
.card-body{
	text-align:left !important;
	font-size: 1em;

}
.login {
	background-color: #dcdcdc;
	-moz-box-shadow: 0px 0px 10px 5px #000000;
    -webkit-box-shadow: 0px 0px 10px 5px #000000;
    -o-box-shadow: 0px 0px 10px 5px #000000;
    box-shadow: 0px 0px 10px 5px #000000;
	filter:progid:DXImageTransform.Microsoft.Shadow(color=#000000, Direction=NaN, Strength=10);
	padding: 20px;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	margin-top: 20px;
	flex-direction: column;
}
.login input {
	background-color: #fff;
	border: solid 5px #f5f4f2;
}
.input input{

	flex-direction: column;
	
}
#actions{
	margin-top: 20px;
	text-align:center;
}
.pass{
	background-color : red;
	color: white;
	width: 100px;
	height: 150px !important;
	text-align: center;
}