/* Legende du style
1 - HEADER
2 - Bar Navigation 
3 - Formation defil
4 - Article
4 - responsive
*/
@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Merriweather');
body{
    background-color:#fff;
    color: black; 
    margin:0;
    overflow-x: hidden;
    display:flex;
    flex-direction:column;
    min-height: 100%;
    font-family: 'Merriweather', serif;
}
html{
    margin:0;
    height: 100%;
}
.container-fluid{
    padding-right: 0;
    padding-left:0;
}
/*header*/
.btn-group{
    display:initial !important;
}
.dropdown-menu{
    width:100%;
    height: 120px;
    text-align:center;
}
.dropdown-menu .dropdown-item{
    font-size:11px;
}
.navbar-light{
background-color: #333 !important;
}
.nav-link{
    color:white !important;
}
.logo{
    max-width:5em;
    max-height: 2em;
}
/* Fin du Header */ 

/* navbar personnaliser */
.bordernav{
    background-color:orangered;
    width:100%;
    height:5px;
    margin:0;
    padding:0;
}
.navbar-perso{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 0.5px;
    margin-left: 1.6%;
}
.card{
   border:none; 
   text-align:center;
   background-color: none !important;
   padding: 5px;
   margin: 5px;
   border-radius:0;
}
.card{
    overflow:hidden;
}
.card-body{
    padding:0;
}
.card-body1{
   
    padding:0;
    background-image: url(../images/btn01.png);
    background-repeat: no-repeat;
    height:150px;
}
.card-body2{
    
    padding:0;
    height:150px;
    background-image: url(../images/btn02.png);
    background-repeat: no-repeat;
}
.card-body3{
    
    padding:0;
    height:150px;
    background-image: url(../images/btn03.png);
    background-repeat: no-repeat;
}
.btnperso1{
    background-color:#f47721;
    color:black;
    border-radius:0;
    border:0;
    border-top: solid 1px black;
    margin-top: 7.5em;
    width: 100%;
}
.btnperso2{
    background-color:#639143;
    color:black;
    border-radius:0;
    border:0;
    border-top: solid 1px black;
    margin-top: 7.5em;
    width: 100%;
}
.btnperso3{
    background-color:#ffcb08;
    color:black;
    border-radius:0;
    border:0;
    border-top: solid 1px black;
    margin-top: 7.5em;
    width: 100%;
}
.btnperso1:hover{
    background-color:#ffcb08;
    color:black;
}
.btnperso2:hover{
    background-color:#f47721;
    color:black;
}
.btnperso3:hover{
    background-color: #639143;
    color:black;
}
/* Fin bar perso */ 

/* Menu animation nos formations */ 
.nformations{
    background-color: orangered;
    color: black;
    width: 500px;
    clip-path: polygon(0% 0%, 100% 0%, 75% 100%, 0% 100%);
    text-align:center;
}
.nformations h5{
    margin-top:3px;
    color: white;
}
.bg-secondary{
    background-color:white !important;
    border-top: solid 1px black;
    border-bottom: solid 1px black;
}
.bg-info{
    background-color: orangered !important;
    width: 250px;
}
/* Texte défilant */

  #cadrpg { 
      width:100%; 
      margin:0 auto; 
      border:0; 
      overflow:hidden;
    } 
#newshr { 
    position:relative; 
    width: 100%; 
    height:60px; 
    overflow:hidden;  
    color:inherit;  
    border:1px inset white;
    border-bottom: solid 5px orangered;
 } 
#defile { 
    position:absolute; 
    margin-top:-45px; 
    z-index:2;
    font-size: 1.5em;
}
.defileorange{
    z-index:3;
    position:relative; 
    height: 60px;
    clip-path: polygon(0% 0%, 100% 0%, 75% 100%, 0% 100%);

}
.defileorange span{
    color: white;
    font-size: 1em;
    font-family: 'Roboto', sans-serif;   
}
.title{
    margin-top: 5px;
}
.badge-info{
    background-color: orangered !important;
}
/* Fin menu defilement */ 

/* Article */
.article{
    display: flex;
    background-color: rgba(80, 143, 83,0.2);
    align-items: center;
    justify-content: center;
    padding: 20px;
}
.article .card{
    background:none !important;
}
.article .card-title{

    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size:1em;
    background-color:#dcdcdc;
    border-bottom: 10px rgba(80, 143, 83,0.8) solid;
}
/* .article .dateactu{
    align-items: flex-end;
    font-size: 0.5em !important;
    height: 20px;
    margin-top: 6px; 
    margin-left: 346px;

} */
.article .card-img-top{
    margin:0;
    border-radius: 0;
    margin-top: -12px;
}
.article .card-article{
    text-align:center;
    align-items: center;
    justify-content: center;
    background-color:none !important;
}
.article .card-body{

    border-bottom: solid 10px #333;
    background-color: #dcdcdc;
    text-align:left;
    color: #333 !important;
}
.article button{
    text-align:none;
    margin-left: 400px;
}
.vs{
    background-color:orangered;
    color : white;
    border: none;
    border-radius:0;
    border-top-left-radius:5px;
}
.btn-primary:hover{
    background-color:#ffc107 !important;
    color: black !important;
    
}


.article{
    padding: 15px;
}
.card-body_id{
    width:820px
}
.card_id{
    width: 820px;
}
/* Fin Article */ 
/* Footer */
.footer{
    width: 100%;
    background-color:#333;
    color: white;
    height: 80px;
    position: stiky; 
}
.btn-newsletter{
    max-width: 330px;
    height: 55px;
    margin-top:-20px;
    margin-left:72%;
}
.copryright h5{
    text-align:center;
    font-size:0.9em;
   
}
.btn-newsletter input{
    height:55px;
}
.btn-news-perso{
    background-color:orangered;
    color:white;
}

.copryright{
margin-top:50px;
}
/* Fin du Footer */
@media (min-width:1700px){
    .card-body{
        width: 550px;
    }
}
@media (min-width:1000px) and (max-width:1500px){
    .article .card-title{
        margin-left: 4em;
        flex-direction:column;
    }
    /* .article .dateactu{
        margin-left: -5px;
    } */
    .article .card-text{
        text-align:left;
        font-size:12px;
        margin:10px;
        word-wrap: break-word;
    }
    .article .card-body{
        padding:10px;
        margin:10px;
    }
    .vs{
        margin-left: -5px !important;
    }
    .btn-newsletter{
        max-width: 330px;
        height: 55px;
        margin-top: -23px;
        margin-left: 73% !important;
    }
    .copryright h5{
        text-align:center;
        font-size:0.9em;
       
    }
    .grid-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto auto auto auto auto; 
        grid-column-gap: 5px;
        grid-row-gap: 5px;
        align-items: center;
        justify-content: stretch;
        align-content: center;
      }
}
@media screen and(min-width:1024px){
    .article{
        align-items: center;
        justify-content: center;
        flex-direction: column;
    } 
    .btn-newsletter{
        float:right;
        margin-right: -15%;
    }
   
}
@media (min-width:200px) and (max-width:1023px){
    .navbar-perso{
        flex-direction:column;
    } 
    .article{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    } 
    .bg-warning{
    width:100%;
    }
    .card-text{
        align-items: flex-start;
        text-align:left;
    }
    .article .col-lg-4{
        width: 100%;
    } 
    .card-body{
        width:auto;
        text-align:left !important;
        align-items: flex-start;
    }
    .article .card-text{
        padding: 125px;
        margin:0 auto;
    }
    .nformations h5{
        margin-top:3px;
        color: white;
        font-size:1em;
    }
    .nformations{
        background-color: orangered;
        color: black;
        width: 100px;
        clip-path: polygon(0% 0%, 100% 0%, 75% 100%, 0% 100%);
        text-align:center;
    }
    .footer{
        flex-direction:column;
        height: 180px;
    }
    .copryright
    {
        bottom: 4.5vh;
        text-align:center;
        font-size: 0.9em;
    }
    .copryright h5{
        font-size: 0.9em !important;

    }
    .btn-newsletter{
        max-width: 330px;
        height: 55px;
        margin-top: 10%;
        margin-left: 20%;
    }
    .btn-news-perso{
        width: 100px;
    }
    .d-flex{
        flex-direction: column !important;
    }
    .grid-container {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto auto auto auto auto; 
        grid-column-gap: 5px;
        grid-row-gap: 5px;
        align-items: center;
        justify-content: stretch;
        align-content: center;
      }
}
@media (min-width:900px) and (max-width:1000px){
    .btn-newsletter{
        max-width: 330px;
        height: 55px;
        margin-top:-69px !important;
        margin-left:64% !important;
    }
    .copryright
    {
        position:relative;
        bottom: 0;
       left:-0;
    }
}
@media (min-width:150px) and (max-width:550px){

    .article .card-title .flex-row{
        flex-direction: column !important;
        margin-left: 35px;
    }
    .article .card-text{
       
    }
    .vs{
        width:100%;
        height: 30px;
        margin-left: 1px !important;
        margin-top: -20px;
    }
   .article .card-img-top{
       max-width: 80%;
       margin-left:60px;
   }
   .copryright
   {
       bottom: 4.5vh;
       text-align:center;
       
   }
   .footer .copryright h5{
       font-size:0.9em;
   }
   .btn-newsletter{
       max-width: 330px;
       height: 55px;
       margin-top:50px;
       margin-left:15%;
   }

}










