{% extends 'base.html.twig' %}

{% block title %}Home - Practee Formations{% endblock %}

{% block body %}
  
       <div id="d-flex p-3 cadrpg"> 

                  <div id="newshr">
                  <div class="p-2 defileorange bg-info"><span class="title">Nos dates de Formations</span></div>
                   <div id="defile">
                   {% for slide in slides %}
                  <span class="badge badge-info">le : {{ slide.date|date('d/m/Y') }} à  {{ slide.date|date('H:m') }}</span> {{ slide.content }}
                 {% endfor %}

                  </div>
                   
                  </div>
                 
                 </div>
              <!-- Fin du menu personnaliser-->

              <!-- formation du site -->
             
            <div class="article">
              <div class="row">
                <div class="card card-article arrow_box card_id" style="width: 820px;">
                    
                        <div class="card-body card-body_id">
                            <div class="card-title">
                                <div class="d-flex flex-row">
                                    <div class="p-2">{{ actualiter.title }}</div>
                                    <div class="p-2 bg-warning">{{ actualiter.createdAt|date('d/m/Y') }} à {{ actualiter.createdAt|date('H:m') }}</div>
                                </div>
                            </div>
                                <img src="{{ actualiter.img }}" class="card-img-top" alt="Image d'actualiter de practee formations">
                                <p class="card-text"> {{ actualiter.contenue }}</p>
                        </div>
                    </div>
              </div>
            </div> 
        <div class="footer">
          <span class="copryright"><h5>© Practee Formation 2019 - Tous droits Réservées</h5></span>
          <form action="" method="post">
              <div class="input-group mb-3 btn-newsletter">
                  <input type="text" class="form-control" placeholder="Entrer votre adresse email" aria-label="Votre adresse email exemple Practeeformation@practeeformation.fr" aria-describedby="button-addon2">
                  <div class="input-group-append">
                    <button class="btn btn-outline-secondary btn-news-perso" type="button" id="button-addon2">S'abonner</button>
                  </div>
                </div>
          </form>
        </div>        

{% endblock %}
