{% extends '@EasyAdmin/default/layout.html.twig' %}

    {% block stylesheets %}
              <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<link rel="stylesheet" href="{{ asset('css/dashboard.css') }}">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">

            {% endblock %}
             {% block javascripts %}
           <!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<!-- Popper JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script> 
             {% endblock %}
{% block main %}

<div class="card-group">
                    <div class="card p-2 p-lg-3">
                        <div class="p-lg-3 p-2">
                            <div class="d-flex align-items-center">
                                <button class="btn btn-circle btn-danger text-white btn-lg" href="javascript:void(0)">
                              <i class="fa fa-exclamation"></i>
                            </button>
                                <div class="ml-5" style="width: 38%;">
                                    <h4 class="font-light">Total de formation Crée</h4>
                                    <div class="progress">
                                        <div class="progress-bar bg-danger" role="progressbar" style="width: {{countforma}}%" aria-valuenow="{{countforma}}" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                </div>
                                <div class="ml-auto">
                                    <h2 class="display-7 mb-0">{{countforma}}</h2>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card p-2 p-lg-3">
                        <div class="p-lg-3 p-2">
                            <div class="d-flex align-items-center">
                                <button class="btn btn-circle btn-cyan text-black btn-lg" href="javascript:void(0)">
                                <i class="fa fa-exclamation"></i>
                            </button>
                                <div class="ml-5" style="width: 38%;">
                                    <h4 class="font-light">Total de compte Utilisateur</h4>
                                    <div class="progress">
                                        <div class="progress-bar bg-cyan" role="progressbar" style="width: {{count}}%" aria-valuenow="{{count}}" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                </div>
                                <div class="ml-auto">
                                    <h2 class="display-7 mb-0">{{count}}</h2>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card p-2 p-lg-3">
                        <div class="p-lg-3 p-2">
                            <div class="d-flex align-items-center">
                                <button class="btn btn-circle btn-warning text-white btn-lg" href="javascript:void(0)">
                                <i class="fa fa-exclamation"></i>
                            </button>
                                <div class="ml-5" style="width: 38%;">
                                    <h4 class="font-light">Total d'inscription Pole Emploi</h4>
                                    <div class="progress">
                                        <div class="progress-bar bg-warning" role="progressbar" style="width: {{countPole}}%" aria-valuenow="{{countPole}}" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                </div>
                                <div class="ml-auto">
                                    <h2 class="display-7 mb-0">{{countPole}}</h2>
                                </div>
                            </div>
                        </div>
                    </div>

                     <div class="card p-2 p-lg-3">
                        <div class="p-lg-3 p-2">
                            <div class="d-flex align-items-center">
                                <button class="btn btn-circle btn-warning text-white btn-lg" href="javascript:void(0)">
                                <i class="fa fa-exclamation"></i>
                            </button>
                                <div class="ml-5" style="width: 38%;">
                                    <h4 class="font-light">Total D'entreprise</h4>
                                    <div class="progress">
                                        <div class="progress-bar bg-warning" role="progressbar" style="width: {{ent}}%" aria-valuenow="{{ent}}" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                </div>
                                <div class="ml-auto">
                                    <h2 class="display-7 mb-0">{{ent}}</h2>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                </div>
   {# 
   <div class="grid-container"> #}
    
     {# <div class="countaccount">
        <h3 class="title_count">Total de compte Crée </h3>
        <p class="content_count red">{{count}}</p>
    </div> 

    <div class="countaccount">
        <h3 class="title_count">Total de Formation Crée </h3>
        <p class="content_count"></p>
    </div> 

    <div class="countaccount">
        <h3 class="title_count">Total d'utilisateur pole emploi </h3>
        <p class="content_count">{{countPole}}</p>
    </div>  #}

   

    

   
   {# </div> #}
{% endblock %}
