{% extends 'base.html.twig' %}

{% block title %}Mon Espace personelle - Practée Formation{% endblock %}
{% block stylesheets %} 
<link href="../css/fontawesome/css/all.css" rel="stylesheet">
<link rel="stylesheet" href="../css/bootstrap.min.css">
<link rel="stylesheet" href="../css/style.css">
<link rel="stylesheet" href="../css/formations.css">
<link rel="stylesheet" href="../css/charts.css">
<link rel="stylesheet" type="text/css" href="{{ asset('vendor/nnnick/dist/Chart.min.css') }}">
{% endblock %}

{% block body %}
    {% include '@Calendar/calendar.html' %}
{% endblock %}