{% extends 'base.html.twig' %}
{% block stylesheets %} 
<link href="../css/fontawesome/css/all.css" rel="stylesheet">
<link rel="stylesheet" href="../css/bootstrap.min.css">
<link rel="stylesheet" href="../css/style.css">
<link rel="stylesheet" href="../css/formations.css">
<script type="text/javascript" src="../js/defilement.js" defer></script>


{% endblock %}
{% block title %}Nos Formations Operateur - Practee Formations{% endblock %}

{% block body %}
       
              <!-- Fin du menu personnaliser-->

              <!-- formation du site -->
              <div id="d-flex p-3 cadrpg"> 

                  <div id="newshr">
                  <div class="p-2 defileorange bg-info"><span class="title">Nos dates de Formations</span></div>
                   <div id="defile">
                  <span class="badge badge-info">le : 18/03/2019</span> Nouvelle Formation contacter nous !
                  <span class="badge badge-info">le : 18/03/2019</span> Nouvelle Formation contacter nous !
                  <span class="badge badge-info">le : 18/03/2019</span> Nouvelle Formation contacter nous !
                  <span class="badge badge-info">le : 18/03/2019</span> Nouvelle Formation contacter nous !

                  </div>
                   
                  </div>
                 
                 </div>
          <div class="content-operateur">
        <table class="table table-bordered">
    <thead>
    <h3><span class="badge badge-info">Liste de nos formations</span></h3>
      <tr>
        <th>Intitulé</th>
        <th>Cout de la formation</th>
        <th>Lieux</th>
        <th>*</th>
      </tr>
    </thead>
    <tbody>
    {% for operateur in operateurs %}
      <tr>
        <td>{{ operateur.intituler }}</td>
        <td>{{ operateur.couts }}</td>
        <td>{{ operateur.lieux }}</td>
        <td><a href="#" data-toggle="tooltip" title="Calendrier et informations sur la formation"><a href="{{ vich_uploader_asset(operateur, 'imageFile', 'App\\Entity\\Formation') }}" target="_blank"><button type="button" class="btn btn-outline-danger"><i class="far fa-file-pdf"></i> Fiche descriptive</button></a> - <button type="button" class="btn btn-outline-info"><i class="fas fa-info"></i> Calendrier</button></a> - <button type="button" class="btn btn-outline-success"><i class="fas fa-user-plus"></i> Inscription</button> - </td>
        </tr>
        <tr>
        <td class="widthtd" colspan="5"><a href=""><button type="button" class="btn btn-outline-info widthbtn">Classes Virtuel</button></a></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
            </div>
                  

       
        <div class="footer">
          <span class="copryright"><h5>© Practee Formation 2019 - Tous droits Réservées</h5></span>
          <form action="" method="post">
              <div class="input-group mb-3 btn-newsletter">
                  <input type="text" class="form-control" placeholder="Entrer votre adresse email" aria-label="Votre adresse email exemple Practeeformation@practeeformation.fr" aria-describedby="button-addon2">
                  <div class="input-group-append">
                    <button class="btn btn-outline-secondary btn-news-perso" type="button" id="button-addon2">S'abonner</button>
                  </div>
                </div>
          </form>
        </div>        

{% endblock %}