{% extends 'base.html.twig' %}

{% block title %}Mon Espace personelle - Practée Formation{% endblock %}
{% block stylesheets %} 
<link href="../css/fontawesome/css/all.css" rel="stylesheet">
<link rel="stylesheet" href="../css/bootstrap.min.css">
<link rel="stylesheet" href="../css/style.css">
<link rel="stylesheet" href="../css/formations.css">
<link rel="stylesheet" href="../css/charts.css">
{% endblock %}
 {% block javascripts %}
<script src="//d3js.org/d3.v4.0.0-alpha.4.min.js"></script>
<script type="text/javascript" src="../js/defilement.js" defer></script>
{# <script src="http://d3js.org/d3.v3.min.js"></script>
<script src="../js/RadarChart.js"></script> #}
 {# <script type="text/javascript" src="../js/script.js"></script> #}
 {% endblock %}
{% block logo %}<img class="logo" href="{{ path('index') }}" src="../images/logo.png">{% endblock %}
{% block body %}
     <!-- Fin du menu personnaliser-->

              <!-- formation du site -->
              <div id="d-flex p-3 cadrpg"> 

                  <div id="newshr">
                  <div class="p-2 defileorange bg-info"><span class="title">Nos dates de Formations</span></div>
                   <div id="defile">
                   {% for slide in slides %}
                  <span class="badge badge-info">le : {{ slide.date|date('d/m/Y') }} à  {{ slide.date|date('H:m') }}</span> {{ slide.content }}
                 {% endfor %}

                  </div>
                   
                  </div>
                 
                 </div>
                    <div class="d-flex">
                        <div class="p-2 flex-fill"> 
                                <div class="card"> 
                       
                        
                            {# <div class="card-header">Espace de {{ json.nom|upper }} {{ json.prenom|upper }} </div>
                                <div class="card-body card-body-profil">  
                                    <p><i class="fas fa-home"></i> Adresse : {{ json.adresse|upper }} {{ json.codePostal }} , {{ json.ville|upper }}</p>
                                    <p><i class="fas fa-phone-square"></i> Tel Fix : {{ json.tel }}</p>
                                    <p><i class="fas fa-mobile"></i> Tel Portable : {{ json.telPort }}</p>
                                    <p><i class="fas fa-at"></i> Email : {{ json.email }}</p>
                                </div> #}
                       
                        
                            <div class="card-header">Entreprise : </div>
                                <div class="card-body card-body-profil">  
                                    <p><i class="fas fa-home"></i> Adresse : {{ json.adresse|upper }} {{ json.codePostal }} , {{ json.ville|upper }}</p>
                                    <p><i class="fas fa-phone-square"></i> Tel Fix : {{ json.tel }}</p>
                                    <p><i class="fas fa-mobile"></i> Tel Portable : {{ json.telPort }}</p>
                                    <p><i class="fas fa-at"></i> Email : {{ json.email }}</p>
                                    <p><i class="fas fa-home"></i> Siret : {{ json.siret }}</p>
                                </div> 
                                
                   
                            <div class="card-footer"> <a href="#" class="btn btn-info bg-info ">Mettre à jour</a></div>
                        </div>
                        
                    </div>
                    
                    <div class="p-2  flex-fill" style="max-width: 650px;">
                    
                    <div class="card">
                        <div class="card-header">Mes Suggestions Formation</div>
                            <div class="card-body card-body-profil row" style="">  
                        
                                 <section  class="col-lg-12" style="color:black;"><h5 style="text-align:center; background-color: #639143; width: 100%;">Jean-louis</h5>
                                    <ul style=" background-color: none; list-style-type:none;"><li >Nous conseillons la/les formation(s) suivante(s)<br/>
                                        <span class="badge badge-success">Formation BIM plement</span> <span class="badge badge-success"> Formation Formateur </span></li>
                                    </ul>
                                </section>

                                 <section class="col-lg-12 " style="color:black;"><h5 style="text-align:center; background-color: #639143; width: 100%;">Patrice</h5>
                                    <ul style="list-style-type:none;"><li >Nous conseillons la/les formation(s) suivante(s)<br/>
                                        
                                        
                                        <span class="badge badge-success">Formation à l'utilisation des outils pédagogique</span>
                                        <span class="badge badge-success">Enveloppe Perforantes</span>
                                        <span class="badge badge-success">PRAXIBAT - Ventilation</span>
                                        <span class="badge badge-success">Formation intégrée au travail</span>
                                        <span class="badge badge-success">Formation en situation de travail</span>
                                        <span class="badge badge-success">Formation BIM plement</span>
                                        <span class="badge badge-success">Formation Formateur</span>
                                        <span class="badge badge-success">Menuiserie Performante</span>
                                    </li>
                                    </ul>
                                </section>

                                <section class="col-lg-12" style=" color:black;"><h5 style="text-align:center; background-color: #639143; width: 100%;">Hubert</h5>
                                    <ul style="list-style-type:none;"><li >Nous conseillons la/les formation(s) suivante(s)<br/>
                                    <span class="badge badge-success">Formation en situation de travail</span> 
                                        <span class="badge badge-success">Formation BIM plement</span>
                                         <span class="badge badge-success">Formation Formateur</span>
                                    </li>
                                    </ul>
                                </section>

                                <section class="col-lg-12" style=" color:black;"><h5 style="text-align:center; background-color: #639143; width: 100%;">Benjamin</h5>
                                    <ul style="list-style-type:none;"><li >Aucune formation à conseiller parcours complété</li>
                                       
                                    </ul>
                                </section>

        

                               

                               
                            </div> 
                        <div class="card-footer"></div>
                    </div>
                    
                    </div>
                    <div class="p-2 flex-fill">

                    <div class="card">
                        {% if json.siret == null %}
                            <div class="card-header">Compétence de mes Collaborateurs</div>
                        {% else %}
                            <div class="card-header">Mes Compétences / Compétence de mes Collaborateurs</div>
                        {% endif %}
                        <div class="card-body card-body-profil">
                        {% for resultat in resultats %}
                            <div class="progress">
                                <label><a href="{{ path('userprofil', {'id': resultat.id})}}">VOIR</a></label>
                                <div class="progress-bar progress-bar-striped" style="font-size: 1.2em;color:black; width:{{ resultat.note }}%">{{ resultat.user }} - {{ resultat.note }}% </div>
                            </div>
                        {% endfor %}
                        </div>
                        
                            
                            <div class="card-footer"></div> 
                    </div>
                   
                    </div>
                    
                    </div>

                    
            
                
                  
                   
              
           
            
        

        <div class="footer">
          <span class="copryright"><h5>© Practee Formation 2019 - Tous droits Réservés</h5></span>
          <form action="" method="post">
              <div class="input-group mb-3 btn-newsletter">
                  <input type="text" class="form-control" placeholder="Entrer votre adresse email" aria-label="Votre adresse email exemple Practeeformation@practeeformation.fr" aria-describedby="button-addon2">
                  <div class="input-group-append">
                    <button class="btn btn-outline-secondary btn-news-perso" type="button" id="button-addon2">S'abonner</button>
                  </div>
                </div>
          </form>
        </div>   
{% endblock %}
