{% extends 'base.html.twig' %}

{% block title %}Mon Espace personelle - Practée Formation{% endblock %}
{% block stylesheets %} 
<link href="../css/fontawesome/css/all.css" rel="stylesheet">
<link rel="stylesheet" href="../css/bootstrap.min.css">
<link rel="stylesheet" href="../css/style.css">
<link rel="stylesheet" href="../css/formations.css">
<link rel="stylesheet" href="../css/charts.css">
{% endblock %}
 {% block javascripts %}
<script src="//d3js.org/d3.v4.0.0-alpha.4.min.js"></script>
<script type="text/javascript" src="../js/defilement.js" defer></script>
{# <script src="http://d3js.org/d3.v3.min.js"></script>
<script src="../js/RadarChart.js"></script> #}
 {# <script type="text/javascript" src="../js/script.js"></script> #}
 <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.js"></script>
<script src="../js/jQuery-plugin-progressbar.js"></script>
<script>
$(".progress-bar1").loading();
     
</script>
 {% endblock %}
{% block logo %}<img class="logo" src="../images/logo.png">{% endblock %}
{% block body %}
     <!-- Fin du menu personnaliser-->

              <!-- formation du site -->
                <div id="d-flex p-3 cadrpg"> 

                    <div id="newshr">
                      <div class="p-2 defileorange bg-info"><span class="title">Nos dates de Formations</span></div>
                        <div id="defile">
                          {% for slide in slides %}
                            <span class="badge badge-info">le : {{ slide.date|date('d/m/Y') }} à  {{ slide.date|date('H:m') }}</span> {{ slide.content }}
                          {% endfor %}

                        </div>
                    
                    </div>
                 
                </div>
                <div class="d-flex flex-row">  
                  
                    <div class="p-2 col-lg-12">

                     <div class="card">
                        <div class="card-header">Tableau des compétences {{ tab[0].user }}</div>
                          <div class="card-body card-body-charts">
                            <span class="badge badge-secondary"><h3>Tableau de suivi de {{ tab[0].user }}</h3></span>

                                <div class="grid-container">
                                
                                  {% for tabs in tab %}

                                  <div class="chartsperso">
                                  {{ tabs.name }}
                                      <div class="progress-bar1" data-percent="{{ tabs.note }}" data-duration="1000" data-color="#ccc,orangered"></div>
                                  </div>
                                  {% endfor %}

                                </div>
                         
                                  <div class="card-footer"></div>
                </div>
                   
                    </div>
                    
                    </div>
                    </div>

                    
            
                
                  
                   
              
           
            
        

        <div class="footer">
          <span class="copryright"><h5>© Practee Formation 2019 - Tous droits Réservés</h5></span>
          <form action="" method="post">
              <div class="input-group mb-3 btn-newsletter">
                  <input type="text" class="form-control" placeholder="Entrer votre adresse email" aria-label="Votre adresse email exemple Practeeformation@practeeformation.fr" aria-describedby="button-addon2">
                  <div class="input-group-append">
                    <button class="btn btn-outline-secondary btn-news-perso" type="button" id="button-addon2">S'abonner</button>
                  </div>
                </div>
          </form>
        </div>   
{% endblock %}