{% extends 'base.html.twig' %}

{% block title %}Mon Espace personelle - Practée Formation{% endblock %}
{% block stylesheets %} 
<style>
#chartdiv {
  width: 100%;
  height: 500px;
}

</style>
{% endblock %}

{% block javascripts %}
<script src="https://www.amcharts.com/lib/4/core.js"></script>
<script src="https://www.amcharts.com/lib/4/charts.js"></script>
<script src="https://www.amcharts.com/lib/4/themes/animated.js"></script>
<script>
<!-- Chart code -->
var chart = am4core.create("chartdiv", am4charts.RadarChart);
var activities = document.getElementById("select");
/* Add data */
chart.data = [{
  "country": "Lithuania",
  "litres": 501
}, {
  "country": "Czech Republic",
  "litres": 301
}, {
  "country": "Ireland",
  "litres": 266
}, {
  "country": "Germany",
  "litres": 165
}, {
  "country": "Australia",
  "litres": 139
}, {
  "country": "Austria",
  "litres": 336
}, {
  "country": "UK",
  "litres": 290
}, {
  "country": "Belgium",
  "litres": 325
}, {
  "country": "The Netherlands",
  "litres": 40
}];

activities.addEventListener('change', () => {
  switch(activities.value){
		case "Operateur":
		console.log(activities.value);
		chart.data = [{
        "country": "Operateur",
        "litres": 100
        },
        {
        "country": "test",
        "litres": 66
        },
        {
        "country": "test2",
        "litres": 500
        }
        
        ];

				console.log(data);
			break;
			
			case "Operateur":
		console.log(activities.value);
      d = [
				[
				{axis:"Charpente/Ossature Bois",value:0.5},
				{axis:"ITI",value:0.0},
				{axis:"Opérateur 5",value:0.0},
				{axis:"ITI",value:0.0}
				
				]];
				console.log(d);
      break;
   
  }
});
/* Create axes */
var categoryAxis = chart.xAxes.push(new am4charts.CategoryAxis());
categoryAxis.dataFields.category = "country";

var valueAxis = chart.yAxes.push(new am4charts.ValueAxis());
valueAxis.renderer.axisFills.template.fill = chart.colors.getIndex(2);
valueAxis.renderer.axisFills.template.fillOpacity = 0.05;

/* Create and configure series */
var series = chart.series.push(new am4charts.RadarSeries());
series.dataFields.valueY = "litres";
series.dataFields.categoryX = "country";
series.name = "Sales";
series.strokeWidth = 3;
</script>

{% endblock %}

{% block body %}
  <select name="select" id="select">
                        <option value="All" selected>All</option>
                        <option value="Operateur" >Opérateur</option>
                        <option value="Operateur2">Maitrise D'oeuvre</option>
                        <option value="Operateur3">Encadrement</option>
                        <option value="Operateur4">Formateur</option>
                        </select>
<div id="chartdiv"></div>
{% endblock %}