<!DOCTYPE html>
<html>
    <head>
        
        
         <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="Description" content="Description de votre site...">
        <meta name="author" lang="fr" content="Benoit Delobel">
        <meta name="copyright" content="Practee Formations">
        <title>{% block title %}Bienvenue sur Practee Formations{% endblock %}</title>
        <link href="/css/fontawesome/css/all.css" rel="stylesheet">
        <link rel="stylesheet" href="css/bootstrap.min.css">
        <link rel="stylesheet" href="css/style.css">
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script type="text/javascript" src="js/defilement.js" defer></script>
            {% block stylesheets %}{% endblock %}
    </head>
    <body>
    <div class="container-fluid">
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
               
                <a class="navbar-brand" href="#"><img class="logo" src="../images/logo.png"></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
              
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                  <ul class="navbar-nav mr-auto">
                  </ul>
                 
                </div>
              </nav>
              <hr class="bordernav">
              <!-- DÃ©but menu personalliser -->
              <div class="navbar-perso col-lg-12">
                <div class="card card1 col-md-4" style="width: 18rem;">
                    
                        <div class="card-body card-body1">
                                <div class="btn-group dropup">
                                        <button type="button" class="btn btnperso1 dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                          Nos Formations
                                        </button>
                                        <div class="dropdown-menu">
                                                <a class="dropdown-item" href="{{ path('operateur') }}">Opérateur</a>
                                                <a class="dropdown-item" href="{{ path('encadrement') }}">Encadrement</a>
                                                <a class="dropdown-item" href="{{ path('maitrise') }}">Maitrise D'oeuvre</a>
                                                <a class="dropdown-item" href="{{ path('formateurs') }}">Formateurs</a>
                                              </div>
                                      </div>
                           
                        </div>
                </div>
                <div class="card card2 col-md-4" style="width: 18rem;">
                       
                            <div class="card-body card-body2">
                                    <div class="btn-group dropup">
                                            <button type="button" class="btn btnperso2 dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                              Nos Ressources
                                            </button>
                                            <div class="dropdown-menu">
                                                    <a class="dropdown-item" href="#">Notre Forum</a>
                                                    <a class="dropdown-item" href="#">Nos Vidéos</a>
                                                  </div>
                                          </div>
                                
                            </div>
                </div>
                <div class="card card3  col-md-4" style="width: 18rem;">
                            
                                <div class="card-body card-body3">
                                   
                                    <a href="{{ path('espace_perso') }}" class="btn btn-danger btnperso3">Mon Espace</a>
                                </div>
                </div>
              </div>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </div>
    </body>
</html>